* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

// html, body {
//   overflow: hidden;
// }

.plus-icon-blu {
  filter: invert(28%) sepia(95%) saturate(4000%) hue-rotate(340deg);
}

// colors
.light-blue{
    background-color: $primary;
}
.light-brwn-underline{
    text-decoration-color: #F2C94C;
     text-decoration-line: underline; 
}

.mw-280{
    max-width: 280px;
    // opacity: 0.6;
}

.opacity-60 {
  opacity: 0.6;
}



.input-bottom-border {
  border: none;
  border-bottom: 2px solid $link-color-grey;
  border-radius: 0;
  padding-left: 0;
  &:focus {
    border-color: $success;
    box-shadow: none;
  }
}
