// underline
.info-row {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
}


.img-card {
  object-fit: cover;
  border-radius: 4px;
  margin-top: 0.25rem;
}


.right-layout-bg .accordion-button {
  background-color: #ffffff; /* white background */
  color: #000;               /* text color */
}

.right-layout-bg .accordion-button:not(.collapsed) {
  background-color: #ffffff; /* stays white when open */
  color: #000;               /* text color */
  box-shadow: none;          /* remove default blue shadow */
}

/* Remove all borders from accordion item */
.accordion-item {
  border: 0;
}

/* Header button */
.accordion-button {
  border: 0;
  border-bottom: 1px solid #dee2e6; /* only bottom border */
  background-color: #fff;
}

/* Keep it white when open */
.accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}
