@import "../variables";

.right-side-both {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  padding: $space-2xl;
  background-color: $primary;

  h2 {
    text-align: center;
    font-weight: 700;
    font-size: $fs-3xl;
    max-width: $w-h2;

    .light-brwn-underline {
      text-decoration: underline;
      text-decoration-color: $underline-yellow;
    }
  }

  p {
    text-align: center;
    max-width: 31.25rem;
    margin-bottom: 5.9375rem;
  }
}
