@import "../../variables";

.brwn-underline {
  text-decoration: underline;
  text-decoration-color: $underline-yellow;
}

.heading-neon {
  font-family: $font-family-poppins;
  font-weight: $font-weight-bold;
  font-size: $fs-2xl;
  max-width: $w-h2;
  height: $h-h2;
  color: $black;
}

.login-btn {
  width: 100%;
  max-width: 12.5rem;
  height: 3rem;
  background-color: $success;
  font-weight: $font-weight-bold;
  border-radius: $radius-md;
  margin: $space-md auto;
}
