@import "../variables";

.task-card {
  background-color: $white;
  padding: $space-sm $space-md;
  margin-bottom: $space-sm;
  cursor: pointer;
  transition: all $transition-fast;
}

.task-meta {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
}

.cover-image {
  width: $img-md-w;
  height: $img-md-h;
  object-fit: cover;
  border-radius: $radius-sm;
}

.task-card-style {
  margin: $space-lg $space-lg $space-md 0;
  transition: all $transition-fast;
  touch-action: none;
}

.task-title {
  cursor: grab;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.task-image {
  width: $img-sm-w;
  height: $img-sm-h;
  object-fit: cover;
  border-radius: $radius-sm;
}
