@import "../variables";

.dropdown-toggle::after {
  display: none !important;
}

.text-underline-bold {
  color: $black;
  font-weight: $font-weight-bold;
  text-decoration: underline;
}

.task-board {
  h6 {
    margin-bottom: $space-md;
  }

  .meta-row {
    display: flex;
    align-items: center;
    gap: $space-xs;
    font-size: $fs-xs;
    color: $grey-600;
  }

  .meta-icon {
    width: $icon-sm;
    height: $icon-sm;
  }

  .task-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space-sm;
  }

  .add-new-title {
    color: $light;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: $space-xxs;
  }

  .task-search {
    max-width: 250px;
    width: 100%;
  }

  .create-task-btn {
    display: flex;
    align-items: center;
    gap: $space-xxs;
  }
}

@media (max-width: $bp-lg) {
  .task-search {
    width: 50%;
  }
}

@media (max-width: $bp-md) {
  .task-search {
    width: 45%;
  }
}

@media (max-width: $bp-sm) {
  .task-search {
    width: 100%;
    margin-bottom: $space-md;
  }
}
