@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

.light-blue {
  background-color: $primary;
}

.light-brwn-underline {
  text-decoration: underline;
  text-decoration-color: $underline-yellow;
}

.opacity-60 {
  opacity: 0.6;
}

.input-bottom-border {
  border: none;
  border-bottom: 2px solid $link-color-grey;

  &:focus {
    border-color: $success;
    box-shadow: none;
  }
}


.neon-green,
.neon-green:link,
.neon-green:visited {
  color: $success !important;
  text-decoration: none;
  transition: color 0.3s ease;
}

.neon-green:hover,
.neon-green:focus {
  color: darken($success, 10%) !important;
  text-decoration: underline;
}
